body {
  background-image: url("../image/004.jpg");
}


.head {
  font-size: 50px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

#sitebody {
  width: 1000px;
  margin: 0 auto;
}
    
#header {
  background-color: rgb(88, 95, 92);
  height: 80px;
  text-align: center;
  line-height: 80px;
}
    
#sidebar_left {
  background-color: #FFECC9;
  width: 350px;
  height: 400px;
  text-align: center;
  line-height: 400px;
  float: left;
}
    
#content {
  margin-left: 350px;
  margin-right: 0px;
  height: 400px;
  background-color: #F2FFF2;
  text-align: center;
  line-height: 50px;
}
    
#footer {
  clear: both;
  background-color: #FFD4D4;
  height: 80px;
  text-align: center;
  line-height: 80px;
}